@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&family=Viga&display=swap');

body {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Recursive', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Viga', sans-serif;

    background-color: #040404;

    flex-grow: 1;
    overflow: auto;
}

.body {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}